body {
    background-color: lightcoral;
    text-align: center;
}

h1 {
    color: mediumpurple;
    font-family:fantasy;
}

p {
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

img {
    width: 50%;
}